name: check_things
on: workflow_dispatch

jobs:
  check-formatting:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/a-w50/gh-actions/blabla:latest

    steps:
      - uses: actions/checkout@v2
      - name: DEBUG
        run: |
          ls -la ./