name: check_things
on: workflow_dispatch

jobs:
  check-formatting:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/a-w50/gh-actions/blabla:latest

    steps:
      - uses: actions/checkout@v2
      - name: DEBUG
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          clang-format --dry-run --style=file src/test.cpp 2>&1 | reviewdog -efm="%f:%l:%c: warning: %m" -reporter=github-check
